* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', 'Sans-serif';
    box-sizing: border-box;
}

/* ========Header Section======== */
.hero {
    height: 100vh;
    width: 100%;
    background-image: url(img/background.jpg);
    background-position: center;
    background-size: cover;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo {
    color: #fff;
    font-size: 40px;
    letter-spacing: 1px;
    cursor: pointer;
}
span {
    color: #f9004d;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1px;
}
nav ul li a:hover {
    color: #f9004d;
    transition: 0.5s;
}
.btn {
    background-color: #f9004d;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 30px;
    transition: transform 0.4s;
}
.btn:hover {
    transform: scale(1.2);
}
.content {
    color: #fff;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}
h4 {
    font-size: 20px;
    letter-spacing: 2px;
    color: #fcfc;
}
h1 {
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3 {
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 50px;
}
.newslatter form{
    width: 400px;
    max-width: 100%;
    position: relative;
}
.newslatter form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border-radius: 30px;
    outline: none;
    font-size: 15px;
    border: 2px solid #f9004d;
}
.newslatter form input:last-child {
    position: absolute;
    display: inline-block;
    padding: 10px 30px;
    background-color: #f9004d;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 30px;
    box-shadow: 0 0 5px #000, 0 0 15px #858585;
    top: 6px;
    right: 6px;
}

/* ========About Section======== */
.about {
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.about img {
    height: auto;
    width: 430px;
}
.about-text {
    width: 550px;
}
.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    font-size: 75px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5 {
    font-size: 25px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
.about-text p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 27px;
    font-size: 18px;
    margin-bottom: 50px;
}
button {
    background-color: #f9004d;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 30px;
    transition: transform 0.5s;
    box-shadow: 0 0 5px #000, 0 0 15px #858585;
}
button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}