* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', 'Sans-serif';
    box-sizing: border-box;
}

/* ========Header Section======== */
nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    padding-left: 8%;
    padding-right: 8%;
    width: 100%;
    position: fixed;
    background-color: #000;
    z-index: 1;
    margin-bottom: 10px;
}
.hero {
    height: 100vh;
    width: 100%;
    background-image: url(img/background.jpg);
    background-position: center;
    background-size: cover;
}

.logo {
    color: #fff;
    font-size: 40px;
    letter-spacing: 1px;
    cursor: pointer;
}
span {
    color: #f9004d;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1px;
}
nav ul li a:hover {
    color: #f9004d;
    transition: 0.5s;
}
.btn {
    background-color: #f9004d;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 30px;
    transition: transform 0.4s;
}
.btn:hover {
    transform: scale(1.2);
}
.content {
    color: #fff;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}
h4 {
    font-size: 20px;
    letter-spacing: 2px;
    color: #fcfc;
}
h1 {
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3 {
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 50px;
}
.newslatter form{
    width: 400px;
    max-width: 100%;
    position: relative;
}
.newslatter form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border-radius: 30px;
    outline: none;
    font-size: 15px;
    border: 2px solid #f9004d;
}
.newslatter form input:last-child {
    position: absolute;
    display: inline-block;
    padding: 10px 30px;
    background-color: #f9004d;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 30px;
    box-shadow: 0 0 5px #000, 0 0 15px #858585;
    top: 6px;
    right: 6px;
}

/* ========About Section======== */
#about {
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
#about img {
    height: auto;
    width: 430px;
}
.about-text {
    width: 550px;
}
.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    font-size: 75px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5 {
    font-size: 25px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
.about-text p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 27px;
    font-size: 18px;
    margin-bottom: 50px;
}
button {
    background-color: #f9004d;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 30px;
    transition: all 1s;
    box-shadow: 0 0 5px #000, 0 0 15px #858585;
}
button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

/* =========Services Section ========= */
.services {
    background-color: #101010;
    width: 100%;
    padding: 100px 0px;
}
.services .title h2 {
    color: #fff;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.services .box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.services .card {
    height: 360px;
    width: 330px;
    padding: 20px 35px;
    background-color: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff;
}
.services .card i {
    font-size: 50px;
    color: #f9004d;
    display: block;
    margin: 25px 0px;
    text-align: center;
}
.services .card h5 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 20px;
}
.services .card .pra p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.button {
    background-color: #f9004d;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 30px;
    transition: all .8s;
    box-shadow: 0 0 5px #000, 0 0 10px #858585;
}
.button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
/* ====Skills Section ======== */
.skills {
    background-color: #191919;
    width: 100%;
    padding: 100px 0px;
}
.skills h2 {
    text-align: center;
    color: #fff;
    font-size: 75px;
    margin-bottom: 30px;
}
.skills .box {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.skills .card {
    width: 340px;
    height: 400px;
    margin: 15px;
    padding: 25px 35px;
    background-color: #101010;
    color: #fff;
    box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff;
}
.skills .card i {
    font-size: 60px;
    color: #f9004d;
    text-align: center;
    margin-bottom: 25px;
}
.skills .card h5 {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.skills .card .pra p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 25px;
    margin-top: 30px;
}
.skills .button:hover {
    background-color: #fff;
    color: #f9004d;
    border: #000 2px solid;
}

/* ========Contact Me======= */
#contact-me {
    width: 100%;
    height: auto;
    padding: 100px 0px;
    background-color: #000;
}
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact h2 {
    text-align: center;
    color: #fff;
    font-size: 75px;
    margin-bottom: 30px;
}
.contact h5 {
    text-align: center;
    color: #fff;
    font-size: 25px;
    margin-bottom: 50px;
}


/* ======Social Link========== */
#social {
    width: 100%;
    height: auto;
    padding: 80px 0px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #191919;
}
#social .title h2{
    color: #fff;
    font-size: 75px;
    font-weight: bold;
    margin-bottom: 30px;
}
#social .title h4 {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}
#social .para {
    color: #fff;
    line-height: 28px;
    margin-bottom: 30px;
}
#social .icon i {
    font-size: 40px;
    margin: 15px;
    transition: 0.4s;
}
#social .icon .fa-facebook {
    color: #0984e3;
    background-color: #fff;
    border-radius: 50%;
}
#social .icon .fa-square-whatsapp {
    color: #0be881;
}
#social .icon .fa-linkedin {
    color: #0b6ef8;
}
#social .icon .fa-twitter {
    color: #0fbcf9;
}
#social .icon .fa-youtube {
    color: #f53b57;
}
#social .icon i:hover {
    transform: scale(1.5);
}

/* =====Footer Section======= */
#footer {
    width: 100%;
    height: auto;
    padding: 25px 0px;
    background-color: #000;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}